@charset "utf-8";

/*          公用样式               */

.comWidth {
	width: 1194px;
	margin:0 auto;
	overflow: hidden;
}

.t-fl {
	float: left;
}
.t-fr {
	float: right;
}
body {
	overflow-x: hidden;
}





 
/*              头部banner             */
.t-bannerBar {
	width: 100%;
	height: 400px;
	background-image: url(../../images/t-img/meeting/t_bannerBar.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

/*       头部导航          */

.t-navBar {
	width: 1195px;
	position: absolute;
	bottom: 0;
	/*background-color: red;*/
}
.t-navBar ul {
	margin-right: -1px;
}
.t-navBar ul li a{
	width: 100%;
	display: inline-block;
	color: #666666;
	background-color: #fff;
}
.t-navBar ul li {
	width: 25%;
	text-align: center;
	font-size: 12px;
	float: left;
	height: 55px;
	line-height: 55px;
	border-right: 1px solid #ccc;
	/*margin-right: -1px;*/
	box-sizing: border-box;
/*	background-color: #fff;*/
	color: #666666;
}
.t-navBar ul li a:hover{
	color: #fff;
	background-color: #2f3133;
}
.t-navBar ul li .t-focus{
	width: 100%;
	display: inline-block;
	color: #fff;
	background-color: #2f3133;
}
 /*          内容content         */

.t-video {
	width: 100%;
	overflow: hidden;
}
.t-navmin {
	font-size: 12px;
	color: #a699b3;
	float: right;
	margin-top: 18px;
}
.t-video-title {
	width: 367px;
	border-bottom: 1px solid #999999;
	/*padding: 22px 0;*/
	height: 52px;
	
	text-align: center;
	margin: 70px auto 0;
}
.t-video-title h1 {
	font-size: 30px;
	color: #333333;
}
.t-video-title h2 {
	display: inline-block;
	font-size: 18px;
	color:#999999;
	padding-left: 12px;
	padding-right: 12px;
	/*margin-top: -50px;*/
	background-color: #fff;
}

.t-video-con {
	margin-top: 78px;
}
.t-con-left {
	width: 365px;
	height: 325px;
	background-image: url(../../images/t-img/meeting/meeting-pic5.jpg);
	background-repeat: no-repeat;
}
.t-con-right {
	width: 817px;
	/*background-color: red;*/
}
.t-con-right h1 {
	color: #333333;
	font-size: 14px;
	margin-top: 25px;
}
.t-con-right p {
	width: 63px;
	height: 1px;
	background-color: #cccccc;
	margin-top: 20px;
	margin-bottom: 17px;
}
.t-con-right h2 {
	font-size: 12px;
	color: #757575;
	line-height:24px;
}
.t-con-right-video {
	width: 251px;
	height: 160px;
	/*background-color: red;*/
	margin-top: 50px;
	background-image: url(../../images/t-img/meeting/video.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
/*.t-con-right-video video {
	width: 250px;
	height: 180px;
}*/
/*map内容content */

.t-map {
	width: 100%;
	background-color: #f4f4f6;
	padding-top: 42px;
	margin-top: 135px;
}
.t-map-tit {
	font-size: 28px;
	color: #333333;
	text-align: center;
}
.t-map-title {
	color: #686868;
	font-size:12px;
	text-align: center;
	margin-left: 220px;
	margin-right: 220px;
}
.t-map-con {
	margin: 16px auto 0;
	width: 686px;
	height: 434px;
	background-image: url(../../images/t-img/meeting/meeting-map.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size:cover;
}
/*.t-map-nav {*/
	/*width: 596px;*/
	/*height: 89px;*/
	/*background-color: red;*/
/*}*/
/*.t-map-nav li {*/
	/*width: 148px;*/
	/*height: 88px;*/
	/*border: 1px solid #ececee;*/
	/*float: left;*/
/*}*/

.t-map-nav {
	width: 596px;
	height: 91px;
	background-image: url(../../images/t-img/meeting/map.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: 10px;
}
.t-map-font {
	width: 559px;
	font-size: 12px;
	color: #666666;
	padding-top: 35px;
	letter-spacing: 2px;
	line-height: 20px;
}

/*t-dal  硬件内容*/
.t-dal {
	padding-top: 36px;
	background-color: #f7f8fa;
	padding-bottom: 60px;
}
.t-dal-tit {
	font-size: 27px;
	color: #333333;
	text-align: center;
	line-height: 43px;
}
.t-dal-title {
	font-size: 12px;
	color: #686868;
	text-align: center;
}
.t-dal-con {
	width: 100%;
	height: 517px;
	background-image: url(../../images/t-img/meeting/meeting-pic6.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: 10px;
}
.t-dal-bottom {
	padding-top: 65px;
}
.t-dal-left {
	width: 116px;
	height: 116px;
	background-image: url(../../images/t-img/meeting/icon_refer1.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-left: 48px;
}
.t-dal-middle {
	border-right: 1px solid #cccccc;
	padding-right: 22px;
	margin-left:50px;
	margin-top: 20px;
}
.t-dal-middle h1 {
	 font-size: 18px;
	 color: #666666;
	font-weight: bold;
 }
.t-dal-middle h2 {
	font-size: 12px;
	color: #666666;
}
.t-dal-right {
	margin-top: 20px;
}

.t-dal-right li {
	list-style: disc;
	font-size: 12px;
	color: #484848;
	line-height: 25px;
	margin-left: 60px;
}

/*   功能特点 trait  */
.t-traitBar {
	padding-top: 60px;
}
.t-trait-left {
	/*width: 600px;*/
	position: relative;

}
.t-trait-tbox {
	width: 390px;
	height: 225px;
	box-sizing: border-box;
	border: 2px solid #cccccc;
	padding-top: 90px;
	padding-left: 38px;
}
.t-trait-tbox h1{
	font-size: 29px;
	color: #333333;
}
.t-trait-tbox h2{
	font-size: 32px;
	color: #cccccc;
}
.t-trait-tbox h3{
	font-size: 8px;
	color: #cccccc;
}
.t-trait-limg {
	width: 600px;
	height: 500px;
	background-image: url(../../images/t-img/meeting/meeting-pic7.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size:cover;
	margin-top: 30px;
}
.t-trait-lfont {
	padding-top: 50px;
}
.t-trait-lfont h1 {
	font-size: 17px;
	color: #246ff0;
}
.t-trait-lfont ul {
	margin-top: 30px;
}
.t-trait-lfont ul li{
	font-size: 12px;
	color: #666666;
	list-style: square;
	line-height: 30px;
}
.t-trait-right {
	width: 600px;
	height: 750px;
	/*background-color: red;*/
	position: absolute;
	top: 176px;
	left: 568px;
	z-index: -1;
}
.t-trait-rimg {
	width: 600px;
	height: 460px;
	background-image: url(../../images/t-img/meeting/meeting-pic8.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size:cover;
}

.t-trait-rfont {
	padding-top: 50px;
	padding-left: 80px;
}
.t-trait-rfont h1 {
	font-size: 17px;
	color: #246ff0;
}
.t-trait-rfont h2 {
	font-size: 12px;
	color: #666666;
	margin-top: 10px;
}
.t-trait-rfont ul {
	margin-top: 10px;
	margin-left: 20px;
}
.t-trait-rfont ul li{
	font-size: 12px;
	color: #666666;
	list-style: square;
	line-height: 20px;
}

/*产品展示 show*/
.t-showBar {
	background-color: #f4f4f6;
	margin-top: 140px;
}
.t-show-left {
	width: 150px;
	/*background-color: green;*/
}
.t-show-left h1 {
	margin-top: 97px;
	font-size: 17px;
	color: #7901d4;
	font-weight: bold;
}
.t-show-left h2 {
	font-size: 12px;
	color: #333333;
}
.t-show-left p {
	margin-top: 44px;
}
.t-show-left h3 {
	font-size: 18px;
	color: #246fee;
	font-weight: bold;
	margin-top: 47px;
}
.t-show-middle{
	width: 680px;
	/*background-color: red;*/
}
.t-show-middle-l {
	width: 216px;
	float: left;
	padding-top:38px;
}
.t-show-middle-l h1 {
	font-size: 16px;
	color: #666666;
	text-align: center;
}
.t-show-middle-l h2 {
	width: 215px;
	height: 142px;
	background-image: url(../../images/t-img/meeting/meeting-pic9.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size:cover;
	margin-top: 20px;
}
.t-show-middle-l h3 {
	width: 215px;
	height: 142px;
	background-image: url(../../images/t-img/meeting/meeting-pic10.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size:cover;
	margin-top: 15px;
}

.t-show-middle-m {
	width: 216px;
	float: left;
	padding-top:38px;
	margin-left: 15px;
}
.t-show-middle-m h1 {
	font-size: 16px;
	color: #666666;
	text-align: center;
}
.t-show-middle-m h2 {
	width: 215px;
	height: 142px;
	background-image: url(../../images/t-img/meeting/meeting-pic11.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size:cover;
	margin-top: 20px;
}
.t-show-middle-m h3 {
	width: 215px;
	height: 142px;
	background-image: url(../../images/t-img/meeting/meeting-pic12.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size:cover;
	margin-top: 15px;
}
.t-show-middle-r {
	width: 216px;
	float: right;
	padding-top:38px;
}
.t-show-middle-r h1 {
	font-size: 16px;
	color: #666666;
	text-align: center;
}
.t-show-middle-r h2 {
	width: 215px;
	height: 142px;
	background-image: url(../../images/t-img/meeting/meeting-pic13.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size:cover;
	margin-top: 20px;
}
.t-show-middle-r h3 {
	width: 215px;
	height: 142px;
	background-image: url(../../images/t-img/meeting/meeting-pic14.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size:cover;
	margin-top: 15px;
}

.t-show-right {
	width: 333px;
	margin-top: 85px;
	padding-left: 22px;
}
.t-show-right h1 {
	font-size: 17px;
	color: #246ff0;
}
.t-show-right h2 {
	font-size: 12px;
	color: #666666;
	margin-top: 10px;
}
.t-show-right ul {
	margin-top: 10px;
	margin-left: 20px;
}
.t-show-right ul li{
	font-size: 12px;
	color: #666666;
	list-style: square;
	line-height: 23px;
}

/*统计图 chart*/

.t-charBar {

}
.t-chart-font {
	width: 270px;
	padding-top: 170px;
}
.t-chart-font h1 {
	font-size: 17px;
	color: #246ff0;
}
.t-chart-font ul li {
	font-size: 12px;
	color: #666666;
	list-style: square;
	line-height: 23px;
}
.t-chart-img {
	margin-top: 50px;
	width: 570px;
	height: 370px;
	background-image: url(../../images/t-img/meeting/meeting-pic15.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin-bottom: 80px;
}

/*全球服务 serve*/
.t-serveBar {
	width: 100%;
	height: 242px;
	background-image: url(../../images/t-img/meeting/meeting-pic16.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.t-serve {
	width: 531px;
	height: 179px;
	background-image: url(../../images/t-img/meeting/gmvwrap6-top.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-right: 60px;
	margin-top: 35px;
}


/*    应用 use    */

.t-use {
	width: 100%;
	height: 535px;
	background-image: url(../../images/t-img/meeting/mvb-bg.png);
	background-repeat: repeat-x;
	position: relative;
}
.t-use-bottom {
	width: 100%;
	height: 62px;
	background-image: url(../../images/t-img/meeting/download.png);
	position: absolute;
	bottom: 0;
}
.t-use-font {
	width: 410px;
	height: 80px;
	border: 2px solid #cccccc;
	box-sizing: border-box;
	margin: 85px auto 0;
	text-align: center;
	position: relative;
}
.t-use-font h1{
	display: inline-block;
	font-size: 28px;
	color: #333333;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #f3f3f3;
	position: absolute;
	top: -22px;
	left: 130px;
	/*margin-top: -50px;*/
	/*background-image: url(../images/meeting/mvb-bg.png);*/
}
.t-use-font h2{
	/*display: inline-block;*/
	font-size: 32px;
	color: #cccccc;
	text-align: center;
	font-weight: bold;
	margin-top: 30px;
	/*padding-left: 40px;*/
	/*padding-right: 40px;*/
	/*background-color: #f3f3f3;*/
	/*position: absolute;*/
	/*top: -22px;*/
	/*left: 130px;*/
	/*!*margin-top: -50px;*!*/
	/*background-image: url(../images/meeting/mvb-bg.png);*/
}

.t-use-font h3{
	display: inline-block;
	height: 20px;
	font-size: 7px;
	color: #cccccc;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #f3f3f3;
	position: absolute;
	/*top: 10px;*/
	left: 80px;
	bottom: -10px;
	/*margin-top: -50px;*/
	/*background-image: url(../images/meeting/mvb-bg.png);*/
}

.t-use-left {
	width: 597px;
	height: 355px;
	background-image: url(../../images/t-img/meeting/balloon-left-p.png);
}
.t-use-right {
	width: 597px;
	height: 355px;
	background-image: url(../../images/t-img/meeting/balloon-right-p.png);
}



/*体验 expre*/

.t-expreBar {
	width: 100%;
	background-color: #246fee;
	padding-top: 83px;
	padding-bottom: 50px;
}
.t-expreBar h1 {
	font-size: 32px;
	color: #ffffff;
	font-weight:bold;
	text-align: center;
}
.t-exprebtn {
	width: 193px;
	height: 40px;
	box-sizing: border-box;
	border: 1px solid #ffffff;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	margin: 20px auto;
}
.t-exprebtn a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #ffffff;
}
.t-exprebtn:hover a{
	background-color: #fff;
	color: #246fee;
}